/* Universal Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CSS Variables for Theme Colors */
:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #cccccc;
}

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(14px, 1.6vw, 16px);
  background: var(--color-primary);
  color: var(--color-white);
  overflow-x: hidden;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-primary,
.text-secondary {
  color: var(--color-secondary);
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-black);
}

.btn:disabled {
  border-color: var(--color-gray);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: var(--color-white);
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.main-header .container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header .logo {
  color: var(--color-white);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-left: 20px;
}

.main-header ul li a {
  font-size: 16px;
}

.main-header ul li a:hover {
  color: var(--color-secondary);
}

/* Grid System */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Card Component */
.card {
  display: flex;
  flex-direction: column;
  background: #04376b;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 400px;
  width: 300px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  background: #0a4b8f;
}

.card .card-img-wrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.card .card-img-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}

.card .card-body {
  padding: 10px;
  text-align: center;
  background: #04376b;
}

.card-title {
  font-size: 16.5px;
  margin: 1px 0;
}

.card-text {
  font-size: 18px;
  color: #ccc;
}

/* Footer Styles */
.main-footer {
  background: var(--color-primary);
  padding: 20px 0;
  margin-top: 20px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: var(--color-white);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: var(--color-white);
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}

/* Section: Now Playing */
section.now-playing {
  padding: 60px 12px;
  background: url(../images/showcase-bg.jpg) no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Slider Styles */
.swiper {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-rating {
  padding: 12px;
}

/* Movie Details */
.details-top {
  display: flex;
  align-items: center;
  margin: 50px 0 30px;
}

.details-top img {
  width: 600px;
  height: 500px;
  margin-right: 60px;
  object-fit: fill;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 8px;
}

.details-top p {
  margin: 20px 0;
}

.details-top .btn {
  margin-top: 20px;
}

/* .details-bottom {} */

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-white);
  border-color: rgba(255, 255, 255, 0.1);
}

/* Search Section */
.search {
  padding: 60px;
  margin-bottom: 40px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.search .container form input[type='text'] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background: transparent;
  color: var(--color-white);
}

.search .container form input[type='text']::placeholder {
  color: var(--color-white);
}

.search .container form input[type='text']:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background: var(--color-secondary);
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.search .container form button:hover {
  background: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
}

.pagination {
  margin-top: 20px;
}

.page-counter {
  margin-top: 10px;
}

/* Alert Styles */
.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.success {
  background: green;
}

.error {
  background: red;
}

/* Media Queries for Responsive Design */

/* For large screens (max-width: 1200px) */
@media (max-width: 1260px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For medium screens (max-width: 992px) */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .details-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .details-top img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .details-top p {
    font-size: 16px;
  }

  .container {
    max-width: fit-content;
  }
}

/* For small screens (max-width: 768px) */
@media (max-width: 768px) {
  .details-top {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .details-top img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .details-top p {
    font-size: 14px;
    text-align: center;
  }

  .search .container form input[type='text'],
  .search .container form button {
    height: 40px;
  }

  .search .container h2 {
    font-size: clamp(22px, 2.5vw, 30px);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 768px));
    justify-content: center;
  }

  .card {
    justify-self: center;
    max-width: 100%;
  }
}

/* For extra small screens (max-width: 480px) */
@media (max-width: 480px) {
  .container {
    max-width: fit-content;
  }

  .main-header .logo {
    font-size: 20px;
  }

  .main-header ul {
    flex-direction: column;
  }

  .main-header ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 14px;
  }
}